html {
    height: 100%;
}

body {
    background-image: url('../images/loginback.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tboxinput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-style-8 {
    font-family: 'Open Sans Condensed', arial, sans;
    position: fixed;
    left: 50%;
    width: 500px;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: -19em;
    margin-top: -9px;
    /*border: 1px solid #ccc;*/
    /*background-color: #f3f3f3;*/
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.innerform {

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:50px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.btn {
    width:100%;
    box-shadow: 0px 10px 30px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: normal;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

    .btn:hover {
        background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color: #408c99;
    }

    .btn:active {
        position: relative;
        top: 1px;
    }
