body {
    /*font-family: Arial, Helvetica, sans-serif;*/
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.horizontalmenu {
    background-color: #333;
    overflow: auto;
}

    .horizontalmenu ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        text-decoration: none;
        /*font-family: monospace, serif;*/
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 1.428571429;
    }

    .horizontalmenu li {
        float: left;
        padding-top: 20px;
    }

    .horizontalmenu a {
        text-decoration: none;
        color: silver;
        padding: 20px;
    }

        .horizontalmenu a:hover {
            /*background-color: black;*/
            color: white;
        }

li.first {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 150px;
    font-variant-caps: all-petite-caps;
    padding: 13px;
    color: white;
}


li.last {
    float: right;
    margin-right: 150px;
}

    li.last #usernamelbl {
        color: white;
        margin-right: 25px;
    }


header {
    /*background-image: url('../images/unnamed.jpg');*/
    text-align: center;
    background-size: auto;
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: whitesmoke;
    padding:10px;
    font-size: 20px;
    font-family: monospace, serif;
    font-size: 15px;
    width:100%;
    color:black;
    font-weight:bold;
    line-height:22px;
    /*left:-0.1em;*/
    position:relative;
}

article {
    padding: 30px;
    /*background-color: #f1f1f1;*/
    background-color: white;
}


footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    padding: 0px;
    text-align: center;
    color: white;
    height:300px;
}