body {
}

td {
    padding: 20px;
}

.Background {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.Popup {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 500px;
}

.lbl {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.tboxinput {
    width: 200px;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btnsubmit {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

    .btnsubmit:hover {
        background-color: #45a049;
    }

.poppanel {
    background-color: #f3f3f3;
    height: 100%;
    padding: 50px;
    font-family: 'Open Sans Condensed', arial, sans;
    font-size: 14px;
}

.poppanel{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	/*margin: 50px auto;*/
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.poppanel h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
/*.form-style-8 input[type="button"],*/ 
/*.form-style-8 input[type="submit"]*/
.btn{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
/*/*.form-style-8 input[type="button"]:hover,*/*/ 
/*.form-style-8 input[type="submit"]:hover*/
.btn:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}